$tablet-l: 690px;
$tablet-m: 510px;
$mobile: 360px;

@mixin tablet-m-above {
  @media(width > $tablet-m) {
    @content
  }
}

@mixin tablet-l-above {
  @media(width > $tablet-l) {
    @content
  }
}

@mixin tablet-l {
  @media(width <= $tablet-l) {
    @content
  }
}

@mixin tablet-m {
  @media(width <= $tablet-m) {
    @content
  }
}

@mixin mobile-above {
  @media(width > $mobile) {
    @content
  }
}

@mixin mobile {
  @media screen and (max-width: $mobile) {
    @content;
  }
}

@mixin hover($hasActiveEffectOnMobile: true) {
  @media(any-hover: hover) {
    &:hover {
      @content
    }
  }

  @if ($hasActiveEffectOnMobile) {
    @media(any-hover: none) {
      &:active {
        @content
      }
    }
  }
}
